button {
  all: unset;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --calc-background-color: rgb(8, 8, 8);
  --number-background: rgb(36, 36, 36);
  --accent-color: rgb(172, 107, 11);
  --alternative-background: rgb(190, 190, 190);

  --light-text: rgb(236, 236, 236);
  --grey-text: rgb(88, 88, 88);
  --dark-text: rgb(8, 8, 8);

  --page-background-color: #2b2a33;

  --small-unit: 1rem;
  --unit: 2rem;
  --bigger-unit: 4rem;
}

body {
  margin: var(--small-unit);
  padding: 0;
  background-color: var(--page-background-color);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-all {
  grid-column: 1 / -1;
}

.main-grid {
  border: 2px solid black;
  background-color: var(--calc-background-color);
  margin: auto;
  max-width: 80rem;

  border-radius: var(--bigger-unit);
  padding: var(--unit);
  gap: var(--unit);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.screen {
  color: var(--light-text);
  font-size: var(--bigger-unit);
  overflow: auto;
  text-align: end;
  padding: var(--unit);
}

.second-screen {
  color: var(--grey-text);
  font-size: var(--unit);
  text-align: end;
  overflow: auto;
  vertical-align: middle;
  grid-column: span 2;
}

.calc-button {
  font-size: var(--unit);
  border-radius: var(--bigger-unit);
  text-align: center;
  padding: var(--unit);
}

.calc-button:hover {
  transition: 0.3s;
  filter: brightness(70%);
}

.calc-button:active {
  transition: 0.1s;
  filter: brightness(130%);
}

.action-button-pressed {
  transition: 0.1s;
  filter: brightness(130%);
}

.number-button {
  background-color: var(--number-background);
  color: var(--light-text);
}

.special-button {
  background-color: var(--alternative-background);
  color: var(--dark-text);
}

.action-button {
  background-color: var(--accent-color);
  color: var(--light-text);
}

@media (max-width: 48rem) {
  :root {
    --small-unit: 1rem;
    --unit: 1.5rem;
    --bigger-unit: 3rem;
  }

  .main-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .second-screen {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .actions-first-set {
    grid-row: 8;
  }

  .actions-second-set {
    grid-row: 9;
  }

  .equals {
    grid-column: span 3;
  }
}

@media (max-width: 26rem) {
  :root {
    --small-unit: 0.5rem;
    --unit: 1rem;
    --bigger-unit: 2rem;
  }
}

/* help modal */
.modal {
  color: var(--light-text);
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-bg {
  position: absolute;
  /* background-color: var(--page-background-color); */
  width: 100%;
  height: 100%;
}

.modal-container {
  border-radius: var(--unit);
  background: var(--calc-background-color);
  position: relative;
  padding: 30px;
  border: 2px solid black;
  margin: var(--unit);
}

.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  outline: none;
  appearance: none;
  color: var(--accent-color);
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}
